@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --light-black: #585858;
  --light-bg: #e4f5ff;
  --blue: #56c0ff;
  --blue2: #7fbadf;
  --blue3: #7fb9df;
  --light-blue: #e4f5ff;
  --orange: #ffdba4;
  --peach: #ffc7c7;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.5s linear;
  /* text-transform: capitalize; */
}

*::selection {
  background-color: var(--white);
  color: var(--black);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar track {
  background-color: transparent;
}

::-webkit-scrollbar thumb {
  background-color: var(--black);
  border-radius: 5rem;
}

.background {
  background-image: url(/loginpage/img/hero-banner.png);
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: left;
}

body {
  background-color: var(--black);
}

section {
  margin: 0 auto;
  padding: 1rem;
  padding-left: 0;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--white);
}

.header .flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10rem;
  padding-right: 10rem;
}

/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--white);
}

.header .flex .navbar a {
  margin-left: 5rem;
  color: var(--light-black);
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.navbar a:focus,
.navbar a:hover {
  color: var(--blue);
}

.navbar a:focus:after,
.navbar a:hover:after {
  width: 100%;
  left: 0%;
}

.navbar a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--blue);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.button-login {
  background-color: #096dd9;
  color: #e6f7ff;
  border: 1px solid #096dd9;
  border-radius: 20px 20px;
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

.nav-btn {
  display: flex;
  align-items: center;
  font-weight: 550;
}

.nav-btn #signup {
  width: 105px;
  height: auto;
  text-align: center;
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--blue);
  font-weight: 500;
  padding: 1rem 1rem;
  border-style: solid;
  border-radius: 12px;
  border-color: var(--blue);
  border-width: 2px;
  background-color: var(--white);
}

.nav-btn #signup:hover {
  background-image: none;
  background-color: var(--orange);
  color: var(--black);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-color: var(--orange);
}

.nav-btn #login {
  width: 105px;
  height: auto;
  text-align: center;
  margin-left: 2rem;
  font-size: 2rem;
  color: var(--white);
  font-weight: 500;
  padding: 1rem 1rem;
  border-style: solid;
  border-radius: 12px;
  background-image: linear-gradient(
    144deg,
    var(--peach),
    10%,
    var(--blue),
    var(--orange)
  );
  border: 0;
}

.nav-btn #login:hover {
  background-image: none;
  background-color: var(--orange);
  color: var(--black);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#textbetween {
  text-align: center;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/
/* 
#hero {
  padding: 125px 0 var(--section-padding);
  background: var(--light-blue);
  height: auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10rem;
  padding-right: 10rem;
}

.hero-content {
  margin-top: 5rem;
  margin-bottom: 80px;
  flex: 1;
  background-color: var(--light-blue);
  position: relative;
}

.hero-content::before,
.hero-content::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
}

.hero-content::before {
  top: 0;
  background-color: #ffc7c7; 
  height: 1rem;
}

.hero-content::after {
  bottom: 0;
  background-color: #ffdba4; 
  height: 1rem;
}

.hero-title {
  padding-top: 1.5rem;
  color: var(--black);
  font-size: 4.8rem;
  font-weight: 800;
}

.hero-title #title-2 {
  color: var(--blue2);
  font-size: 4rem;
}

.hero-text {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  color: var(--black);
  font-weight: 500;
  line-height: 1.8;
  font-size: 2rem;
}

.hero-banner img {
  max-width: 100%;
  height: auto;
} */

/*-----------------------------------*\
  #CATEGORY
\*-----------------------------------*/
/* 
#category {
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
  background-color: var(--white);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-content {
  text-align: center;
  margin-bottom: 3rem;
}

.category-title {
  padding-top: 3rem;
  font-size: 4rem;
  color: var(--black);
  font-weight: 800;
  text-align: center;
}

.category-title #title-2 {
  color: var(--blue2);
  font-size: 4rem;
}

.category-desc {
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 500;
}

.learning-categories {
  padding: 3rem 0;
  display: grid;
  gap: 2rem;
  justify-content: center;
}

.category-item {
  flex: 1;
  max-width: 100%;
  height: 150px;
  padding: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 3rem;
  text-align: justify;

 
  font-size: 1.6rem;
  margin: 1rem;
}

.category-item-img {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 10%;
  margin-right: 1rem;
}

.category-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-item-title {
  font-size: 2rem;
  color: #7fbadf;
  margin-bottom: 0;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}

.category-item-desc {
  font-size: 1.4rem;
  color: var(--black);
  margin-bottom: 0;
  font-weight: 500;
} */

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

/* #about {
  padding-top: 13rem;
  padding-bottom: 13rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: var(--light-blue);
  text-align: center;
}

#about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-title {
  display: flex;
  align-items: center;
  font-size: 4rem;
  color: var(--black);
  font-weight: 800;
}

.blue-text {
  color: var(--blue2);
  margin-right: 2rem;
}

.black-text {
  color: #000;
  margin-right: 2rem;
}

.logo-about {
  width: auto;
  height: auto;
  margin-right: 2rem;
}

#about #description {
  padding-top: 5rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--black);
} */

/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

#contact {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: var(--white);
}

#desc {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
}

#desc #title {
  position: relative;
  left: 25%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 39px;
}

#desc #title-2 {
  position: relative;
  left: 25%;

  color: var(--blue2);
  font-size: 4rem;
}

#form {
  position: relative;
  top: 50%;
  left: 25%;
  font-size: 15px;
  text-align: start;
  font-weight: normal;

  padding: 5%;
  border-radius: 5px;
  width: 60%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#form input {
  background-color: var(--white);
  padding: 10px;
  border: solid;
  border-radius: 10px;
  margin-bottom: 3rem;
}

#form input:focus {
  background-color: var(--white);
  outline: none;
  box-shadow: 0 0 5px var(--blue);
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.form-checkbox {
  font-size: 1.3rem;
  padding-bottom: 3rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #7c838a;
}

#submit-login2 {
  position: relative;
  left: 25%;
  background-color: #096dd9;
  color: #e6f7ff;
  border: 1px solid #096dd9;
  border-radius: 20px 20px;
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

#submit-signup2 {
  position: relative;
  left: 25%;
  background-color: #ffffff;
  color: #979797;
  border: 1px solid #0050b3;
  border-radius: 20px 20px;
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

#submit-signup {
  position: relative;
  left: 25%;
  background-color: #096dd9;
  color: #e6f7ff;
  border: 1px solid #096dd9;
  border-radius: 20px 20px;
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

#submit-login {
  position: relative;
  left: 25%;
  background-color: #ffffff;
  color: #979797;
  border: 1px solid #0050b3;
  border-radius: 20px 20px;
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

#signinggl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #ffffff;
  border-radius: 7px;
  outline: none;
  color: #242424;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

#signinapl {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  background: #212121;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  outline: none;

  cursor: pointer;
  margin-top: 1rem;
  color: #ffffff;
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 1px 0px #efefef)
    drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
  cursor: pointer;
}

#submit-form {
  background-color: #66b1e2;
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin-top: 1rem;
}

#submit-form:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

#signinapl:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

#signinggl:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

#footer {
  background-color: var(--light-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

#logo h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

.menu-container {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  margin-right: 5vw;
  font-size: 2rem;
  color: var(--blue);
}

.menu-item h2 {
  margin: 0;
  font-size: 2rem;
  color: var(--black);
}

.menu-item a {
  color: var(--light-black);
}

#partner {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
}

#partner h2 {
  font-size: 2rem;
}

#partner .partner-img {
  padding-top: 4rem;
}

#partner a {
  text-decoration: none;
  font-size: 2rem;
  color: #1e0303;
}

/*-----------------------------------*\
  #FOOTER BOTTOM
\*-----------------------------------*/

footer {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  background-color: var(--blue3);
  color: #ffffff;
  padding: 6px;
}
